<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dash">
    <meta name="author" content="Eduardo Belisia">
    <title>Dashboard - Health Track</title>
    <link href="../../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/css/dash.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Health Track</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Busca" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sair</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="user"></span>
                  Meu Perfil
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Objetivos:
                </br>
                </br>- Perder 5 KG em um mes
                </br>- Melhorar a categoria do IMC
                </br>- Perder 5 KG em um mes
                </br>- Melhorar a categoria do IMC
                </a>
               
              </li>
            
  
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Configurações</span>
            </h6>
            
          </div>
        </nav>
        

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Compartilhar Resultado</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                Essa semana
              </button>
            </div>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            
  
            <div class="row placeholders">
              <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Peso: 80kg</h4>
                <span class="text-muted">Alterar peso</span>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Altura: 1.59</h4>
                <span class="text-muted">Alterar altura</span>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <h4>IMC: 30</h4>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Categoria: Obeso</h4>
              </div>
            </div>
          <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

          <h2>Histórico</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Peso</th>
                  <th>Altura</th>
                  <th>IMC</th>
                  <th>Categoria</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>31/05</td>
                  <td>89 Kg</td>
                  <td>1.59</td>
                  <td>31</td>
                  <td>Obeso</td>
                </tr>
                  <td>30/05</td>
                  <td>89 Kg</td>
                  <td>1.59</td>
                  <td>31</td>
                  <td>Obeso</td>
                </tr>
                  <td>29/05</td>
                  <td>89 Kg</td>
                  <td>1.59</td>
                  <td>31</td>
                  <td>Obeso</td>
                </tr>
                <tr>
                  <td>28/05</td>
                  <td>89 Kg</td>
                  <td>1.59</td>
                  <td>31</td>
                  <td>Obeso</td>
                </tr>
                <tr>
                  <td>27/05</td>
                  <td>89 Kg</td>
                  <td>1.59</td>
                  <td>31</td>
                  <td>Obeso</td>
                </tr>
                <tr>
                  <td>26/05</td>
                  <td>89 Kg</td>
                  <td>1.59</td>
                  <td>31</td>
                  <td>Obeso</td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="public/js/jquery-3.5.1.min.js"></script>
    <script src="public/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["26/05", "27/05", "28/05", "29/05", "30/05", "31/05"],
          datasets: [{
            data: [80, 79, 81, 78, 79, 81],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>
